@use "@/client/styles/textStyles" as *;
@use "@/client/styles/variables" as *;

.descriptionTestContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 32px;
}

.descriptionTextContainer {
  max-width: 744px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  margin-bottom: 40px;
}

.subtitle {
  margin-bottom: 30px;
}

.descriptionTitle {
  @include labelLarge;
}

.descriptionText {
  @include bodyMedium;
}

.results {
  max-width: 715px;
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.result {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 440px;
  column-gap: 50px;
}

.resultTitle {
  text-align: end;
  color: $color-primary;
  @include titleMedium;
}

.scale {
  width: 100%;
  max-width: 440px;
}
