@use "@/client/styles/variables" as *;
@use "@/client/styles/textStyles" as *;
@use "@/client/styles/mixins" as *;

.card {
  padding: 12px 12px 8px;
  display: flex;
  flex-flow: column;
  gap: 8px;
  @include card;

  &:hover > .button {
    opacity: 1;
  }
}

.title {
  @include titleMedium;
}

.description {
  color: $color-on-surface-variant;
  @include bodyMedium;
}

.button {
  margin-top: auto;
  margin-left: auto;
  color: $color-primary;
  @include labelSmall;
  opacity: 0;
  transition: opacity 0.2s;
}

.modalDescription {
  margin-bottom: 40px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
