.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 96px;
  margin-right: 96px;
}
.form{
  width: 360px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}
.title{
  margin-bottom: 20px;
  text-align: center;
}
.svgContainer{
  width: 430px;
  height: 430px;
}