.title {
  margin-bottom: 40px;
  text-align: start;
}

.form {
  max-width: 552px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.button {
  margin-top: 8px;
}
