@use "@/client/styles/colors" as *;

.svgContainer {
  background-color: $color-blue40;

  & > svg {
    width: 100%;
    height: 100%;
  }
}

.image {
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
