@use "@/client/styles/colors" as *;

.background {
  background-color: $color-blue80;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10000;
}

.iconsContainer {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.feather1 {
  position: absolute;
  top: 10vh;
  right: 0;
  min-width: 400px;
  width: 40vw;
  max-width: 800px;
  transform: rotate(40deg);
}

.feather2 {
  position: absolute;
  bottom: 10vh;
  left: 0;
  min-width: 400px;
  width: 40vw;
  max-width: 800px;
  transform: scale(1, -1) rotate(120deg);
}
