$color-blue100: #0c2a9f;
$color-blue80: #3555d4;
$color-blue60: #97acff;
$color-blue40: #cdd7ff;
$color-blue30: #ebeeff;
$color-blue20: #f3f5ff;

$color-red100: #c52746;
$color-red80: #dd4261;
$color-red60: #ed6d87;
$color-red40: #f5a3b4;
$color-red30: #f3d4d5;
$color-red20: #feecec;

$color-green100: #015641;
$color-green80: #117c61;
$color-green60: #3ab495;
$color-green40: #8dd9c6;
$color-green30: #d9f1eb;
$color-green20: #f1fffc;

$color-yellow100: #ffdd1b;
$color-yellow80: #ffe868;
$color-yellow60: #ffef91;
$color-yellow40: #fff3ac;
$color-yellow30: #fff5ca;
$color-yellow20: #fffcef;

$color-black100: #1c1a1a;
$color-black80: #2f2d2d;
$color-black60: #545454;
$color-black40: #787777;
$color-black30: #a2a2a2;
$color-black20: #cfcfcf;

$color-white100: #ffffff;
$color-white80: #f9fbff;
$color-white70: #f1f3f6;
