@use "@/client/styles/variables" as *;
@use "@/client/styles/colors" as *;

body {
  font-size: 16px;
  background-color: $color-white70;
  color: $color-black100;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

#snackbars {
  position: fixed;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 100000;
}

#modals {
  position: relative;
  z-index: 10000;
}

body.disable-scroll {
  overflow: hidden;
}
