@use "@/client/styles/colors" as *;
@use "@/client/styles/fontStyles" as *;

.card {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 4px;
  background-color: $color-white70;
  border-radius: 12px;

  &.completed,
  &.notExist {
    color: $color-blue60;
    background-color: $color-blue30;
  }

  &.active {
    color: $color-white100;
    background-color: $color-blue80;
  }
}

.cardTitle {
  @include bodySBold;
}

.cardDescription {
  @include bodyS;
}
