.loading {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  & > svg {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    & > path {
      width: 4px;
    }
  }
}
