@use "@/client/styles/colors" as *;
@use "@/client/styles/fontStyles" as *;

.profileContainer {
  height: 36px;
  position: relative;
  margin-left: 40px;
}

.profileButton {
  border-radius: 7px;
  overflow: hidden;
}

.popup {
  position: absolute;
  top: 46px;
  right: 0;
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
  background-color: $color-black80;
  border-radius: 22px;
  border-top-right-radius: 4px;
}

.popupItem {
  height: 36px;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white100;
  white-space: nowrap;
  @include bodyS;
  background-color: $color-black60;
  border-radius: 12px;
}
