@import "@/styles/variables.scss";

body {
  font-size: 16px;
  background-color: $color-on-primary;
  color: $color-on-surface;
  overflow-x: hidden;
}

#snackbars {
  position: fixed;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 1000;
}
