$white: #FFFFFF;
$gray: #ECEEF3;
$primary: #2E628C;
$error: #BA1A1A;
$secondary-container: #D5E4F7;
$on-secondary-container: #0E1D2A;

$text-primary: #181C20;
$text-secondary: #51606F;
$text-placeholder: #E0E2E8;
$outline-variant: #C2C7CF;

$bg-primary: #F4F7FB;

$surface: #F7F9FF;
