$color-surface-icon: #f4f7fb;
$color-white: #ffffff;
$color-good-result: #368c2e;
$color-average-result: #e1b92a;
$color-bad-result: #ba1a1a;

$color-primary: rgb(47 98 140);
$color-surface-tint: rgb(47 98 140);
$color-on-primary: rgb(255 255 255);
$color-primary-container: rgb(206 229 255);
$color-on-primary-container: rgb(0 29 50);
$color-secondary: rgb(81 96 111);
$color-on-secondary: rgb(255 255 255);
$color-secondary-container: rgb(213 228 247);
$color-on-secondary-container: rgb(14 29 42);
$color-tertiary: rgb(104 88 122);
$color-on-tertiary: rgb(255 255 255);
$color-tertiary-container: rgb(238 219 255);
$color-on-tertiary-container: rgb(35 21 51);
$color-error: rgb(186 26 26);
$color-on-error: rgb(255 255 255);
$color-error-container: rgb(255 218 214);
$color-on-error-container: rgb(65 0 2);
$color-background: rgb(247 249 255);
$color-on-background: rgb(24 28 32);
$color-surface: rgb(247 249 255);
$color-on-surface: rgb(24 28 32);
$color-surface-variant: rgb(222 227 235);
$color-on-surface-variant: rgb(66 71 78);
$color-outline: rgb(114 119 127);
$color-outline-variant: rgb(194 199 207);
$color-shadow: rgb(0 0 0);
$color-scrim: rgb(0 0 0);
$color-inverse-surface: rgb(45 49 53);
$color-inverse-on-surface: rgb(238 241 246);
$color-inverse-primary: rgb(155 203 251);
$color-primary-fixed: rgb(206 229 255);
$color-on-primary-fixed: rgb(0 29 50);
$color-primary-fixed-dim: rgb(155 203 251);
$color-on-primary-fixed-variant: rgb(13 74 115);
$color-secondary-fixed: rgb(213 228 247);
$color-on-secondary-fixed: rgb(14 29 42);
$color-secondary-fixed-dim: rgb(185 200 218);
$color-on-secondary-fixed-variant: rgb(58 72 87);
$color-tertiary-fixed: rgb(238 219 255);
$color-on-tertiary-fixed: rgb(35 21 51);
$color-tertiary-fixed-dim: rgb(211 191 230);
$color-on-tertiary-fixed-variant: rgb(79 64 97);
$color-surface-dim: rgb(216 218 224);
$color-surface-bright: rgb(247 249 255);
$color-surface-container-lowest: rgb(255 255 255);
$color-surface-container-low: rgb(241 243 249);
$color-surface-container: rgb(236 238 243);
$color-surface-container-high: rgb(230 232 238);
$color-surface-container-highest: rgb(224 226 232);
