$white: #ffffff;
$gray: #eceef3;
$primary: #2e628c;
$inverse-primary: #9bcbfa;
$error: #ba1a1a;
$secondary-container: #d5e4f7;
$on-secondary-container: #0e1d2a;

$text-primary: #181c20;
$text-secondary: #51606f;
$text-placeholder: #e0e2e8;
$outline-variant: #c2c7cf;
$light-outline: #72777f;

$on-primary-fixed-variant: #0d4a73;

$bg-primary: #f4f7fb;

$surface: #f7f9ff;
