@import "@/styles/variables.scss";
@import "@/styles/textStyles.scss";

.button {
  height: 40px;
  padding: 0 24px;
  color: $white;
  @include labelLarge;
  background-color: $primary;
  border-radius: 20px;

  &.medium {
    width: 168px;
  }
}
