@use "@/client/styles/variables" as *;
@use "@/client/styles/colors" as *;

.footer {
  margin-top: 70px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-family: var(--font-inter);
}

.logo {
  width: 120px;
}

.container {
  display: flex;
  align-items: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 20px;
}

.socials {
  display: flex;
  gap: 15px;
}

.iconButton {
  background-color: $color-white100;
  // box-shadow: $shadow-landing-primary;
}
