@use "@/client/styles/colors" as *;

.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 30px;
  background-color: $color-white100;
  border-radius: 32px;
}

.title {
  width: 100%;
}
