@import "@/client/styles/variables.scss";
@import "@/client/styles/textStyles.scss";

.authContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}

.labelText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: $color-outline-variant;
  @include bodyMedium;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: $color-outline-variant;
  }
}

.iconButtons {
  display: flex;
  gap: 16px;
}
