@import "@/client/styles/variables";
@import "@/client/styles/textStyles";

.problem {
  display: inline-block;
  height: fit-content;
  padding: 6px 8px;
  @include labelLarge;
  background-color: $color-secondary-container;
  border-radius: 8px;
}
