@import "@/client/styles/variables.scss";
@import "@/client/styles/textStyles.scss";

.button {
  height: 40px;
  padding: 0 24px;
  @include labelLarge;
  border-radius: 20px;

  &.medium {
    width: 168px;
  }
}
