@use "@/client/styles/variables" as *;
@use "@/client/styles/textStyles" as *;

.button {
  height: 40px;
  padding: 0 24px;
  @include labelLarge;
  border-radius: 20px;

  &.medium {
    width: 168px;
  }
}
