@import "@/styles/variables.scss";
@import "@/styles/textStyles.scss";

.checkbox {
  display: none;

  &:checked + .labelText {
    background-color: $color-secondary-container;
    border-color: $color-secondary-container;
  }
}

.labelText {
  display: inline-block;
  padding: 6px 8px;
  color: $color-on-secondary-container;
  @include labelLarge;
  background-color: transparent;
  border: 1px solid $color-on-secondary-container;
  border-radius: 8px;
  transition: border-color 0.2s, background-color 0.2s;
}
