@use "@/client/styles/variables" as *;
@use "@/client/styles/textStyles" as *;
@use "@/client/styles/mixins" as *;

.main {
  display: flex;
  gap: 120px;
}

.title {
  margin-bottom: 40px;
}

.tests {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
