@import "@/client/styles/variables.scss";

.header {
  position: relative;
  width: 100%;
  height: 88px;
  background-color: $color-on-primary;
  margin-bottom: 70px;
  z-index: 100;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-surface-container;
}

.logo {
  width: 120px;
}
