@import "@/styles/variables.scss";

.authContainer{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}

.labelText{
  color: $text-outline;
  font-size: 14px;
}

.iconButtons{
  display: flex;
  gap: 16px;
}