@use "@/client/styles/colors" as *;
@use "@/client/styles/fontStyles" as *;

.button {
  color: $color-white100;
  @include bodyS;
  background-color: $color-blue80;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.92;
  }

  &:focus {
    opacity: 0.88;
  }

  &:active {
    opacity: 0.88;
  }

  &:disabled {
    background-color: $color-blue60;
    color: $color-white70;
    pointer-events: none;
  }
}
