@use "@/client/styles/colors" as *;
@use "@/client/styles/fontStyles" as *;

.main {
  max-width: 420px;
  width: 100%;
  padding: 20px;
  border-radius: 32px;
  background-color: $color-white100;
}

.title {
  margin-bottom: 10px;
}

.date {
  margin: 10px 0 30px;
  @include bodyLBold;
}
