@import "@/styles/variables.scss";
@import "@/styles/textStyles.scss";

.button{
  width: 168px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  @include labelLarge;
  background-color: $primary;
  border-radius: 20px;

  &.large{
    width: 257px;
  }
}
